.header {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5dc1b2+0,1fbcd2+100 */
  background: #5dc1b2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5dc1b2 0%, #1fbcd2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5dc1b2 0%, #1fbcd2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5dc1b2 0%, #1fbcd2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.header img {
  margin-top: 30px;
}

.name {
  margin-top: 15px;
  font-size: 1.5em;
}
