/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);*/

html {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error {
  color: #f44336;
}

@media (min-width: 400px) {
  #login {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    top: 20%;
  }
}
