html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(226,226,226);
}

/* remove the yellow autofill background in Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:global .error {
  color: #f44336;
}

@media (min-width: 400px) {
  :global .main {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    top: 20%;
  }
}

/* hacking the google autocomplete field */
:global .pac-container {
  margin-top: -22px;
}
:global .pac-logo::after {
  background: none !important;
  height: 0;
  padding: 0;
}
