html, body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;/*rgb(226,226,226);*/
  overflow-x: hidden;
}

/*
TODO: this won't prevent from FOIT, e.g. in Safari, because
the font-family:Roboto is inlined on elements by material-ui:
*/
:global .wf-loading {
  font-family: sans-serif;
}
:global .wf-active {
  font-family: 'Roboto', sans-serif;
}

/* remove the yellow autofill background in Chrome */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

:global .error {
  color: #f44336;
}

:global .main {
  transition: none !important;
}

@media (min-width: 500px) {
  :global .main {
    position: absolute;
    width: 460px;
    margin-left: -230px;
    left: 50%;
    top: 80px;
    margin-bottom: 50px;
  }
}
